.sidebar.small {
    width: 50px; /* Set smaller width */
}

.sidebar.small #sidebarText {
    display: none; /* Hide text */
}


.sidebar.small #chevron-icon {
    display: none; /* Hide submenu and chevron icon */
}

.sidebar {
    transition: width 0.5s ease; /* Adding transition for smooth animation */
}

@media only screen and (max-width: 1000px) {
    .outer_container {
        margin-left: 195px;
    }
}

@media only screen and (min-width: 1000px) {
    .outer_container {
        margin-left: calc(100% / 6);
    }
}



.widget_container {
    width: 100vw; /* Full viewport width */
    width: -webkit-fill-available; /* For Chrome and other WebKit/Blink browsers */
    width: -moz-available; /* For Firefox */
    box-sizing: border-box; /* To include padding and border in the width calculation */
}
.dashboard-container {
    transition: margin-left 0.5s ease; /* Adding transition for smooth animation */
}

.clock {
    font-size: 40px;
}


  









@media only screen and (max-width: 600px) {
    .box {
        width: 100% !important;
    }
    
    .drag {
        width: 100% !important;
        max-width: 100% !important;
        max-height: 100% !important;
    }
}



body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.hides-croll {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */ 
}

.hide-scroll::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}



.outer_container.dashboard-container {
    margin-left: 50px !important;
}
  

.box {
    min-width: 278px;
    min-height: 278px;
    padding: 10px;
}



.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* CSS */
@media (max-width: 640px) {
    .widget_container .widget {
      width: calc(50% - 1rem); /* Adjust the width to fit two widgets per row */
    }
  }
  
  @media (max-width: 480px) {
    .widget_container .widget {
      width: calc(100% - 1rem); /* Adjust the width to fit one widget per row */
    }
  }
  
  