.sidebar.small {
    width: 50px; /* Set smaller width */
}

.sidebar.small #sidebarText {
    display: none; /* Hide text */
}


.sidebar.small #chevron-icon {
    display: none; /* Hide submenu and chevron icon */
}

.sidebar {
    transition: width 0.5s ease; /* Adding transition for smooth animation */
}

@media only screen and (max-width: 1000px) {
    .outer_container {
        margin-left: 195px;
    }
}

@media only screen and (min-width: 1000px) {
    .outer_container {
        margin-left: calc(100% / 6);
    }
}

@media only screen and (max-width: 680px) {
    .viewport-custom  {
        width: 100% !important;
    }
}



.dashboard-container {
    transition: margin-left 0.5s ease; /* Adding transition for smooth animation */
}

.drag {
    transition: width 1s ease;
}

.clock {
    font-size: 40px;
}

@media only screen and (max-width: 600px) {
    .box {
        width: 100% !important;
    }
    
    .drag {
        width: 100% !important;
        max-width: 100% !important;
        max-height: 100% !important;
    }
}



body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.hides-croll {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */ 
}

.hide-scroll::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}



.outer_container.dashboard-container {
    margin-left: 50px !important;
}
  

.box {
    min-width: 278px;
    min-height: 278px;
    padding: 10px;
}



.scrollbar-hide::-webkit-scrollbar {
    display: none;
}


.scrollbar-hide {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}


.widget_container {
    width: 100vw; 
    width: -webkit-fill-available;
    width: -moz-available; 
    box-sizing: border-box;
    padding: 1rem 1rem;
}

/* Grid layout */
.widget_container .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    column-gap: 4rem; 
    row-gap: 1rem; 
}


.widget_container .widget {
    margin: 0; 
}


@media (max-width: 640px) {
    .widget_container .widget {
        width: calc(50% - 0.5rem);    
     }
}

@media (max-width: 480px) {
    .widget_container .widget {
        width: calc(100% - 0.5rem); 
    }
}

.input-button {
    position: relative;
}

.input-button input {
    padding-right: 2.5rem; /* Adjust padding to accommodate the button */
}

.input-button button {
    position: absolute;
    right: 0rem;
    top: 50%;
    transform: translateY(-50%);
}


